{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
        <link href="{% static 'css/app.css' %}" rel="stylesheet">
        <title>Offshore Monitoring Advanced</title>
    </head>
    <body>
        <div id="app">
            <v-app toolbar>
                <v-oma-navigation></v-oma-navigation>
                <main>
                    <v-container fluid>
                        <v-layout>
                            <v-flex sm8 offset-sm2>
                                {% block content %}{% endblock %}
                            </v-flex>
                        </v-layout>
                    </v-container>
                </main>
            </v-app>
        </div>
        <script defer src="{% static 'js/app.js' %}"></script>
    </body>
</html>
